@page "/"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr

<PageTitle>Home</PageTitle>

<h1>Reddit Clone</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        lol you are not logged in! Please log in or create an account to access all functionalities.
<button @onclick='() => NavMgr.NavigateTo("users/create")'>Create an account</button> <br />
    </NotAuthorized>
</AuthorizeView>
Here you can browse interesting posts.
    <button @onclick='() => NavMgr.NavigateTo("login")'>Go to login</button>

<AuthorizeView>
    <Authorized>
        <button @onclick="LogOutAsync">Log Out</button>
    </Authorized>
</AuthorizeView>

@code {
        private string errorLabel;

        private async Task LogOutAsync()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Logout();
            NavMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}