@page "/posts/{Id:int}"
@using ApiContracts
@using BlazorApp.Services
@inject IPostService PostService

<h3>@post?.Title</h3>

<p>@post?.Body</p>

<h4>Comments</h4>

@if (post?.Comments == null)
{
    <p>No comments yet.</p>
}
else
{
    <ul>
        @foreach (var comment in post.Comments)
        {
            <li>@comment.Body</li>
        }
    </ul>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private PostDto? post;

    protected override async Task OnInitializedAsync()
    {
        // Fetch the Single Post DTO, which now INCLUDES the comments list
        post = await PostService.GetPostAsync(Id); 
    }
}